<!DOCTYPE html>
<html>
<title>Add case</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">

<body>

<header class="w3-container w3-theme">
    <h1>My App</h1>
</header>

<form class="w3-container w3-theme-l3 w3-padding-32" method="post" action="submitCase">

    <H6>Название</H6>
    <input class="w3-input" type="text">

    <H6>Версия</H6>
    <input class="w3-input" type="text">

    <H6>Тест-кейс</H6>
    <textarea class="w3-input" rows="10"></textarea>

    <H6>Ссылки</H6>
    <textarea class="w3-input" rows="3"></textarea>
    <div class="w3-padding-24">
            <button class="w3-btn w3-black" type="submit">Добавить</button>
    </div>
</form>

</body>
</html>