<!DOCTYPE html>
<html>
<title>Add case</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">

<body>

<header class="w3-container w3-theme">
    <h1>My App</h1>
</header>

<form class="w3-container" method="post" action="submitCase">

    <label>Название</label>
    <input class="w3-input" type="text">

    <label>Версия</label>
    <input class="w3-input" type="text">

    <label>Тест-кейс</label>
    <textarea class="w3-input" rows="20"></textarea>

    <label>Ссылки</label>
    <textarea class="w3-input" rows="3"></textarea>

    <button class="w3-btn" type="submit">Добавить</button>

</form>

</body>
</html>
