<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Cases</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">

<body>

<header class="w3-container w3-theme">
    <h1>My App</h1>
</header>


<!-- Navbar -->
<div class="w3-theme-l2">
    <div class="w3-bar w3-left-align w3-large">
        <a href="#" class="w3-bar-item w3-button w3-theme-l1">Тест Кейсы</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Тест Планы</a>
    </div>
</div>

<div class="w3-container">
    <p>
        Вы можете просмотреть существующие кейсы или добавить новые
        <a class="w3-button w3-large w3-circle w3-xlarge w3-ripple w3-grey" href="/addCaseForm" style="z-index:0">+</a>
    </p>

    <form method="post" action="/deleteCase" id="deleteCase"/>

    <table class="w3-table w3-bordered w3-striped">
        <tr class="w3-theme">
            <th width="15%">ID</th>
            <th>Название</th>
            <th width="15%">Версия</th>
            <th width="10px">&nbsp;</th>
        </tr>
        <tr th:each="case: ${cases}">
            <td>
                <a th:text="${case.id}" th:href="'/cases/' + ${case.id}"></a>
            </td>
            <td th:text="${case.title}" />
            <td th:text="${case.version}" />
            <td>
                <button type="submit" form="deleteCase" name="caseId" th:value="${case.id}"><b>X</b></button>
            </td>
        </tr>
    </table>
</div>

</body>
</html>
