<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Cases</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">


<body>
<header class="w3-container w3-theme">
    <h1>My App</h1>
</header>


<div class="w3-theme-l2">
    <div class="w3-bar w3-left-align w3-large">
        <label class="w3-bar-item" th:text="${id} + ' ' + ${title}"></label>
        <a class="w3-button w3-bar-item w3-theme-l5 w3-circle w3-ripple w3-black" th:href="'/editCaseForm/' + ${id}" style="z-index:0">✎</a>
    </div>
</div>


<form class="w3-container w3-theme-l5 w3-padding-32">
    <div class="w3-left-align"><H6>Версия</H6><p th:text="${version}"></p></div>
    <div class="w3-left-align"><H6>Описание</H6><p th:utext="${description}"></p></div>
    <div class="w3-left-align"><H6>Ссылки</H6><p th:utext="${refs}"></p></div>
</form>
</body>
</html>
